$c-bg-main: #FFFFFF;
$c-bg-sub: #eeece8;
$c-bg-active: #74D2E7;
$c-bg-hover: #432f30;
$c-bg-disabled: #d3d3d3;
$c-bg-contrast: #38312d;
$c-bg-success: #8bbc64;
$c-bg-pending: #d0a71d;
$c-bg-danger: #ce7432;
$c-bg-error: #C31B24;
$c-bg-button: #E40046;

$c-text-main: #285780;
$c-text-sub: #E40046;
$c-text-third: #595F6E;
$c-text-button: #FFFFFF;
$c-text-active: #946037;
$c-text-hover: #432f30;
$c-text-contrast: #f0f0f0;
$c-text-important: #a12126;
$c-text-success: #8bbc64;
$c-text-disabled: #cccccc;
$c-text-warn: #ffc602;

$c-border-main: #595F6E;
$c-border-contrast: #C9CFD4;
$c-border-important: #a12126;
$c-border-active: #946037;
$c-border-action: #ffc602;

$s-shadow-main: 0 0 2rem 0 rgba(#000000, 0.15);
$s-shadow-disabled: 0 0 0 transparent;

$c-hotness-mild: #f4cc3d;
$c-hotness-medium: #cc7132;
$c-hotness-hot: #bf522f;
$c-hotness-wild: #952b2b;
